// History
.ctr {
   display: flex;
   align-items: center;
   justify-content: space-between;
   background: var(--color-in);
   margin: 1rem 0;
   padding: 0 1rem;
   border-radius: 10px;

   svg {
      color: red;
      cursor: pointer;
   }
}
