.postList {
   margin: 2rem 0;
   .content {
      .post {
         display: flex;
         align-items: center;
         max-width: 500px;
         height: 150px;
         margin: 0.5rem auto;
         background: var(--color-cd);
         box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
         border-radius: 10px;
         overflow: hidden;

         figure {
            height: 100%;
            width: 150px;
            margin-right: 1rem;

            img {
               width: 100% !important;
               display: block;
               height: 100%;
               object-fit: cover;
            }
         }

         .info {
            padding: 1.5rem 0;

            h3 {
               font-size: 0.95rem;
               line-height: 1rem;
            }

            .date {
               display: flex;
               align-items: center;
               font-size: 0.8rem;
               margin: 0.8rem 0;

               svg {
                  width: 20px;
                  height: 20px;
                  margin-right: 0.5rem;
               }
            }

            .postTags {
               margin: 0.5rem 0;
               display: flex;
               flex-wrap: wrap;
               align-items: center;

               @media (max-width: 350px) {
                  display: none;
               }

               a {
                  margin: 5px;
                  text-transform: capitalize;
                  background-color: var(--color-in);
                  color: var(--color-text);
                  font-size: 0.7rem;
                  font-weight: 100;
                  border: 1px solid var(--color-text);
                  opacity: 0.7;
                  padding: 0.2rem 0.5rem;
                  border-radius: 50px;
               }
            }
         }
      }
   }
}
