@import "../../node_modules/react-responsive-carousel/lib/styles/carousel.min.css";
@import "../../node_modules/owl.carousel/dist/assets/owl.carousel.css";
@import "../../node_modules/owl.carousel/dist/assets/owl.theme.default.css";
@import "shared";
@import "404";
@import "user";
@import "nprogress";
@import "../../node_modules/react-loader-spinner/dist/loader/css/react-spinner-loader.css";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

html,
body {
   font-family: "Poppins", sans-serif;

   background: var(--color-bg);
   color: var(--color-text);

   transition: background 1s;

   overflow-x: hidden;
}

body {
   &::-webkit-scrollbar {
      width: 0.25rem;
   }

   &::-webkit-scrollbar-track {
      background: #1e1e24;
   }

   &::-webkit-scrollbar-thumb {
      background: var(--color-primary);
   }
}

// section {
//    padding-top: 5rem;
// }

p {
   color: var(--grey);
   margin: 0.8rem 0;
}

input {
   border: 1px solid transparent;
   border-radius: 30px;
   background-color: var(--color-in);
   font-family: "Poppins", sans-serif;
   color: var(--color-text);
   letter-spacing: 1.5px;
   font-size: 1rem;
}

input:focus {
   border-color: var(--color-primary);
}

svg {
   display: block;
}

button {
   border: none;
   outline: none;
   background-color: transparent;
   color: var(--color-text);
   display: block;
   cursor: pointer;
}

.btn {
   border: 1px solid transparent;
   border-radius: 30px;
   padding: 10px 20px;
   margin: 0.8rem 0;
   text-transform: uppercase;
   letter-spacing: 1.8px;
   font-size: 1rem;
   font-weight: bold;
   cursor: pointer;
   transition: all 0.5s;
   font-family: "Poppins", sans-serif;
}

.btn-primary {
   background: var(--color-primary);
   color: #fff;

   &:hover {
      color: #fff !important;
      text-shadow: #fff 0px 0px 5px, #fff 0px 0px 10px, #fff 0px 0px 15px;
      animation: pulse 1s infinite;
   }
}

.btn-secondary {
   border-color: var(--color-primary);
   color: var(--color-primary);

   &:hover {
      box-shadow: var(--color-primary) 0px 0px 7px;
      text-shadow: var(--color-primary) 0px 0px 7px;
   }
}

@keyframes pulse {
   0% {
      box-shadow: 0 0 0 0 var(--color-primary);
   }
   100% {
      box-shadow: 0 0 0 16px rgba(#fff, 0);
   }
}

@keyframes float {
   0% {
      transform: translatey(0px);
   }
   50% {
      transform: translatey(-20px);
   }
   100% {
      transform: translatey(0px);
   }
}

.container {
   width: 85%;
   margin: 0 auto;

   @media screen and (max-width: 950px) {
      width: 90%;
      padding: 0 1rem;
   }

   @media screen and (max-width: 650px) {
      width: 100% !important;
      padding: 0 1rem;
   }
}

.owl-carousel .owl-stage {
   min-height: 400px;
}
