@import "DefaultLayout";
@import "notification";

* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

a {
   color: inherit;
   text-decoration: none;
   cursor: pointer;
}

ul,
li {
   list-style: none;
}

img {
   width: 100%;
   height: 100%;
   display: block;
}

input,
button {
   outline: none;
}
