@import "notification";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

html,
body {
   padding: 0;
   margin: 0;
   font-family: "Poppins", sans-serif;

   background: var(--color-bg);
   color: var(--color-text);

   transition: background 1s;
}

a {
   color: inherit;
   text-decoration: none;
   cursor: pointer;
}

* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

ul,
li {
   list-style: none;
}

p {
   color: var(--grey);
}

img {
   width: 100%;
   height: 100%;
   display: block;
}

input,
button {
   outline: none;
}

input {
   padding: 10px 45px 10px 20px;
   border: 1px solid transparent;
   border-radius: 30px;
   background-color: var(--color-in);
   font-family: "Poppins", sans-serif;
   color: var(--color-text);
   letter-spacing: 1.5px;
   font-size: 1rem;
}

input:focus {
   border-color: var(--color-primary);
}

.rounded {
   border-radius: 100%;
   border: none;
   padding: 0;
   width: 30px;
   height: 30px;
   line-height: 40px;
   // color: var(--color-text);
}

.btn {
   border: 1px solid transparent;
   padding: 10px 20px;
   margin: 0.8rem 0;
   text-transform: uppercase;
   letter-spacing: 1.8px;
   font-size: 1rem;
   cursor: pointer;
   transition: all 0.5s;
}

.btn-primary {
   background: var(--color-primary);
   color: #fff;
}

.btn-primary:hover {
   text-shadow: #fff 0px 0px 5px, #fff 0px 0px 10px, #fff 0px 0px 15px;
   animation: pulse 1s infinite;
}

@keyframes pulse {
   0% {
      box-shadow: 0 0 0 0 var(--color-primary);
   }
   100% {
      box-shadow: 0 0 0 16px rgba(#fff, 0);
   }
}

.container {
   width: 80%;
   margin: 0 auto;

   @media screen and (max-width: 650px) {
      // width: 90% !important;
      width: 100% !important;
      padding: 0 1rem;
   }
}
