.NavUser {
   width: 5rem;
   height: 100vh;
   position: fixed;
   background: var(--color-cd);
   transition: width 0.2s ease;

   ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;

      .thumbnail {
         a {
            height: 4rem;
            border-bottom: 1px solid var(--grey);
            opacity: 1;

            img {
               width: 40px;
               height: 40px;
               border-radius: 100%;
               margin: 0 1rem;
            }
         }
      }

      li {
         width: 100%;

         &:last-child {
            margin-top: auto;
         }

         a {
            display: flex;
            align-items: center;
            height: 4rem;
            color: var(--color-text);
            margin: 0;

            svg {
               min-width: 2rem;
               margin: 0 1.2rem;
            }

            span {
               display: none;
            }
         }
      }
      a:hover,
      .current a {
         color: var(--color-primary);
         background-color: var(--color-overlay-0);
      }
   }

   span {
      display: none;
   }
}

@media only screen and (max-width: 600px) {
   .NavUser {
      bottom: 0;
      width: 100vw;
      height: 4rem;

      ul {
         flex-direction: row;

         .thumbnail {
            display: none;
         }

         li {
            justify-content: center;
            margin: 0px !important;

            &:last-child {
               display: none;
            }

            a {
               justify-content: center;
               border-bottom: 0.3rem solid transparent;
            }
         }
         a:hover,
         .current a {
            border-bottom-color: var(--color-primary);
         }
      }
   }
}

@media only screen and (min-width: 600px) {
   .NavUser {
      top: 0;

      ul {
         display: flex;
         flex-direction: column;
         align-items: center;
         height: 100%;
         padding-top: 70px;
      }

      a {
         border-left: 0.3rem solid transparent;

         svg {
            margin: 0 1.3rem;
         }
      }

      a:hover,
      .current a {
         border-left-color: var(--color-primary);
      }

      &:hover {
         width: 16rem;

         span {
            display: block;
         }
      }
   }
}

/* 
======================================================
======================================================
      TOP NAV
======================================================
======================================================
*/

.TopNav {
   height: 70px;
   background: var(--color-cd);
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;

   ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 100%;
      padding: 0 0.5rem;

      & > div {
         display: flex;
         align-items: center;
         height: 100%;

         li {
            margin: 0 0.5rem;
            color: var(--color-text);
            cursor: pointer;
            position: relative;

            svg {
               width: 30px;
               height: 30px;
            }

            &.active::after {
               content: "";
               position: absolute;
               top: 0;
               right: 0;
               width: 12px;
               height: 12px;
               background-color: #ff075b;
               border-radius: 100%;
            }
         }
      }

      .NavLeftSide {
         .logo {
            height: 45px;
            width: 110px;
         }
      }

      .NavRightSide {
         .thumbnail {
            width: 45px;
            height: 45px;
            img {
               border-radius: 100%;
            }
         }
      }
   }
}

@media only screen and (max-width: 600px) {
   .TopNav {
      position: absolute;
   }
}
